* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #ffe000, #799f0c);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wrapper {
    width: 400px;   
    background-color: #fff;
    border-radius: 6px;
}
.container-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #aaa;

}
.data-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px;
    color: #aaa;

}
.add-btn {
    padding: 8px 16px;
    color: #fff;
    font-size: 20px;    
    border-radius: 6px;
    margin-left: 8px;
    border: none;
    outline: none;
    background-color: #9acd32;
    margin-right: 10px;
}
.todo-item {
    border-top: 1px solid #e5e5e5;
    list-style: none;
    padding: 15px;
    color: #aaa;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-name {
    width: 100%;
    
}
.todo-item i {
    margin-right: 10px;
    visibility: hidden;
}
.todo-item:hover i {
    visibility: visible;
}
.todo-item.completed {
    text-decoration: line-through;
}

